body {
  margin: 0;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Div shadows */
#home, #skills, #projects {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;;
}

.bodyText50 {
  width: 50%;
  min-width: 350px;
  max-width: 550px;
}

.paddingClass {
  padding: 300px 20px 300px;
}

.paddingClass2 {
  padding: 75px 20px 75px;
}

/* For width 400px and smaller: */
@media only screen and (max-width: 954px) {
  .paddingClass, .paddingClass2 {
    padding: 75px 20px 50px
  }
  .hiddenInSmall {
    display: none;
  }
  .marginInSmall {
    margin-top: 50px;
  }
}